{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Blvck</title>
	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!--//tags -->
	<link href="{% static 'web/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'web/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'web/css/font-awesome.css' %}" rel="stylesheet">
	<!--pop-up-box-->
	<link href="{% static 'web/css/popuo-box.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!--//pop-up-box-->
	<!-- price range -->
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/jquery-ui1.css' %}">
	<!-- fonts -->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>
<style>
	body {
		background-color: grey;
		color: white !important;
	}
</style>

<body>

	<!-- header-bot-->
	<div class="header-bot">
		<div class="header-bot_inner_wthreeinfo_header_mid">
			<!-- header-bot-->
			<div class="col-md-4 logo_agile">
				<h1>
					<a href="/">
						<span>B</span>lvck
					</a>
				</h1>
			</div>
			<!-- header-bot -->
			<div class="col-md-8 header">
				<!-- header lists -->
				<ul>
					<li>
						<a href="{% url 'home' %}"><span class="fa fa-home" aria-hidden="true"></span>Home</a>
					</li>
					<li>
						<span class="fa fa-phone" aria-hidden="true"></span> 8113 8282 33
					</li>
					<li>
						<a href="{% url 'user_profile' %}">
							<span class="fa fa-unlock-alt" aria-hidden="true"></span>{{user.username}}</a>
					</li>
					<li>
						<a href="{% url 'user_logout' %}" >
							<span class="fa fa-unlock-alt" aria-hidden="true"></span>Log out</a>
					</li>
					<li>
						<a href="{% url 'user_order' %}">
							<span class="fa " aria-hidden="true"></span> Orders </a>
					</li>
				</ul>
				<!-- //header lists -->
				<!-- search -->
				<div class="agileits_search">
					<form action="#" method="post">
						{% csrf_token %}
						<input name="Search" type="search" placeholder="How can we help you today?" required="">
						<button type="submit" class="btn btn-default" aria-label="Left Align">
							<span class="fa fa-search" aria-hidden="true"> </span>
						</button>
					</form>
				</div>
				<!-- //search -->
				<!-- cart details -->
				<div class="top_nav_right">
					<div class="wthreecartaits wthreecartaits2 cart cart box_1">
						<button class="w3view-cart" type="submit" name="submit" value="">
							<a href="{% url 'cart' %}"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a>
						</button>
					</div>
				</div>
				<!-- //cart details -->
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>


	<!-- //header-bot -->
	<!-- navigation -->
	<div class="ban-top">
		<div class="container">
			<div class="top_nav_left">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
								data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav menu__list">
								<li class="active">
									<a class="nav-stylehead" href="{% url 'home' %}">Home
										<span class="sr-only">(current)</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
	<!-- //navigation -->




	<!-- checkout page -->
	<div class="privacy">
		<div class="container">
			<!-- tittle heading -->
			<h3 class="tittle-w3l">Cart
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>
			<!-- //tittle heading -->
			<div class="checkout-right">
				<h4>Your shopping cart contains:
					<span></span>
				</h4>
				<div class="table-responsive">
					<table class="timetable_sub">
						<thead>
							<tr>
								<th>SL No.</th>
								<th>Product</th>
								<th>Quantity</th>
								<th>Product name</th>
								<th>Total Price</th>
								<th>Remove</th>
							</tr>
						</thead>
						<tbody>
							{% for x in cart_data %}
							<tr class="rem1">
								<td class="invert">{{forloop.counter}}</td>
								<td class="invert-image">
									<a href="single2.html">
										<img style="height:50px; width:60px;" src="{{x.product.ImageURL}}" alt=" "
											class="img-responsive">
									</a>
								</td>
								<td class="invert">
									<div class="quantity">
										<div class="quantity-select">
											<button onclick="minus('{{x.id}}')">-</button>
											<div class="entry value">
												<span id="qty-{{x.id}}">{{x.quantity}}</span>
											</div>
											<button onclick="add('{{x.id}}')">+</button>
										</div>
									</div>
								</td>
								<td class="invert">{{x.product.product_name}}</td>
								<td id="pro-price-{{x.id}}" class="invert">{{x.total_price}}</td>
								<td class="invert">
									<a href="{% url 'user_removeOrderItem' x.id %}" type="submit"
										class="btn btn-outline-danger btn-rounded"
										onclick="return confirm('Are you sure to Remove this item?')">Remove<i
											class="fas fa-trash"></i></a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<div style="display: flex;">
				<h5 style="width: fit-content; white-space: pre-wrap; color:black; font-weight:bold;">Total Amount : </h5><h5 id="total" style="width: fit-content; color:black; font-weight:bold;">{{total_amount}}</h5>
			</div>
								

			<div class="checkout-left">
				<div class="address_form_agile">
					<div class="checkout-right-basket">
						<a href="{% url 'add_address' %}">Checkout
							<span class="fa fa-hand-o-right" aria-hidden="true"></span>
						</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //checkout page -->

	<!-- copyright -->
	<div class="copy-right">
		<div class="container">
			<p>© 2020 Blvck. All rights reserved
			</p>
		</div>
	</div>
	<!-- //copyright -->

	<!-- js-files -->
	<!-- jquery -->
	<script src="{% static 'web/js/jquery-2.1.4.min.js' %}"></script>
	<!-- //jquery -->

	<!-- popup modal (for signin & signup)-->
	<script src="{% static 'web/js/jquery.magnific-popup.js' %}"></script>
	<script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});

		});
	</script>
	<!-- Large modal -->
	<!-- <script>
		$('#').modal('show');
	</script> -->
	<!-- //popup modal (for signin & signup)-->

	<!-- cart-js -->
	<script src="{% static 'web/js/minicart.js' %}"></script>
	<script>
		paypalm.minicartk.render(); //use only unique class names other than paypalm.minicartk.Also Replace same class name in css and minicart.min.js

		paypalm.minicartk.cart.on('checkout', function (evt) {
			var items = this.items(),
				len = items.length,
				total = 0,
				i;

			// Count the number of each item in the cart
			for (i = 0; i < len; i++) {
				total += items[i].get('quantity');
			}

			if (total < 3) {
				alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
				evt.preventDefault();
			}
		});
	</script>
	<!-- //cart-js -->

	<!-- price range (top products) -->
	<script src="{% static 'web/js/jquery-ui.js' %}"></script>
	<script>
		//<![CDATA[
		$(window).load(function () {
			$("#slider-range").slider({
				range: true,
				min: 0,
				max: 9000,
				values: [50, 6000],
				slide: function (event, ui) {
					$("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
				}
			});
			$("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

		}); //]]>
	</script>
	<!-- //price range (top products) -->

	<!-- flexisel (for special offers) -->
	<script src="{% static 'web/js/jquery.flexisel.js' %}"></script>
	<script>
		$(window).load(function () {
			$("#flexiselDemo1").flexisel({
				visibleItems: 3,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: {
					portrait: {
						changePoint: 480,
						visibleItems: 1
					},
					landscape: {
						changePoint: 640,
						visibleItems: 2
					},
					tablet: {
						changePoint: 768,
						visibleItems: 2
					}
				}
			});

		});
	</script>
	<!-- //flexisel (for special offers) -->

	<!-- password-script -->
	<script>
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script>
	<!-- //password-script -->

	<!-- smoothscroll -->
	<script src="{% static 'web/js/SmoothScroll.min.js' %}"></script>
	<!-- //smoothscroll -->

	<!-- start-smooth-scrolling -->
	<script src="{% static 'web/js/move-top.js' %}"></script>
	<script src="{% static 'web/js/easing.js' %}"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->

	<!-- smooth-scrolling-of-move-up -->
	<script>
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/
			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->

	<!-- for bootstrap working -->
	<script src="{% static 'web/js/bootstrap.js' %}"></script>
	<!-- //for bootstrap working -->
	<!-- //js-files -->
	<script>
		function add(id) {
			var qty = parseInt($('#qty-' + id).html())
			$('#qty-' + id).html(qty + 1)

			data = {
				csrfmiddlewaretoken: '{{ csrf_token }}',
				action: "add"
			}

			$.ajax({
				url: '/cart/update/' + id,
				type: 'POST',
				data: data,
				dataType: 'json',
				success: function (response) {
					$('#pro-price-' + id).html(response.product_total)
					$('#total').html(response.grand_total)
					console.log(response.grand_total)
				}
			})
		}

		function minus(id) {
			var qty = parseInt($('#qty-' + id).html())
			if (qty > 1) {
				$('#qty-' + id).html(qty - 1)


				data = {
					csrfmiddlewaretoken: '{{ csrf_token }}',
					action: "minus"
				}

				$.ajax({
					url: '/cart/update/' + id,
					type: 'POST',
					data: data,
					dataType: 'json',
					success: function (response) {
						$('#pro-price-' + id).html(response.product_total)
						$('#total').html(response.grand_total)

					}
				})
			}
		}
	</script>

</body>

</html>