
{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>checkout</title>
    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Grocery Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}

    </script>
    <!--//tags -->
    <link href="{% static 'web/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'web/css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'web/css/font-awesome.css' %}" rel="stylesheet">
    <!--pop-up-box-->
    <link href="{% static 'web/css/popuo-box.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!--//pop-up-box-->
    <!-- price range -->
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/jquery-ui1.css' %}">
    <!-- fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>

<body>
<!-- header-bot-->
<div class="header-bot">
    <div class="header-bot_inner_wthreeinfo_header_mid">
        <!-- header-bot-->
        <div class="col-md-4 logo_agile">
            <h1>
                <a href="/">
                    <span>B</span>lvck
                </a>
            </h1>
        </div>
        <!-- header-bot -->
        <div class="col-md-8 header">
            <!-- header lists -->
            <ul>
                <li>
                    <a href="{% url 'home' %}"><span class="fa fa-home" aria-hidden="true"></span>Home</a>
                </li>
                <li>
                    <span class="fa fa-phone" aria-hidden="true"></span>
                </li>
                <li>
                    <a href="{% url 'user_logout' %}">
                        <span class="fa fa-unlock-alt" aria-hidden="true"></span> Logout </a>
                </li>
                <li>
                    <a href="{% url 'user_profile' %}">
                        <span class="fa fa-pencil-square-o" aria-hidden="true"></span> {{user.username}} </a>
                </li>
                <li>
                    <a href="{% url 'user_order' %}">
                        <span class="fa fa-unlock-alt" aria-hidden="true"></span> Orders </a>
                </li>
            </ul>
            <!-- //header lists -->
            <!-- search -->
            <div class="agileits_search">
                <form action="#" method="post">
                    {% csrf_token %}
                    <input name="Search" type="search" placeholder="How can we help you today?" required="">
                    <button type="submit" class="btn btn-default" aria-label="Left Align">
                        <span class="fa fa-search" aria-hidden="true"> </span>
                    </button>
                </form>
            </div>
            <!-- //search -->
            <!-- cart details -->
            <div class="top_nav_right">
                <div class="wthreecartaits wthreecartaits2 cart cart box_1">
                    <button class="w3view-cart" type="submit" name="submit" value="">
                        <a href="{% url 'cart' %}"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a>
                    </button>
                </div>
            </div>
            <!-- //cart details -->
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<!-- //signup Model -->
<!-- //header-bot -->
<!-- navigation -->
<div class="ban-top">
    <div class="container">
        <div class="agileits-navi_search">
            <div class="dropdown" id="agileinfo-nav_search"
            ">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#tshirt">Tshirts</a><br>
                <a class="dropdown-item" href="#jackets">Jackets</a><br>
                <a class="dropdown-item" href="#hoodies">Hoodies</a><br>
            </div>
        </div>
        <!--				<form action="#" method="post">-->
        <!--					<select id="agileinfo-nav_search" name="agileinfo_search" required="">-->
        <!--						<option value="">All Categories</option>-->
        <!--						<option value="">T Shirts</option>-->
        <!--						<option value="">Hoodies</option>-->
        <!--						<option value="">Jackets</option>-->
        <!--					</select>-->
        <!--				</form>-->
    </div>
    <div class="top_nav_left">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav menu__list">
                        <li class="active">
                            <a class="nav-stylehead" href="{% url 'home' %}">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="">
                            <a class="nav-stylehead" href="about.html">About Us</a>
                        </li>
                        <li class="">
                            <a class="nav-stylehead" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
</div>
<!-- //navigation -->
<!-- banner-2 -->
<div class="page-head_agile_info_w3l">

</div>
<!-- //banner-2 -->
<!-- page -->
<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a href="index.html">Home</a>
                    <i>|</i>
                </li>
                <li>Checkout</li>
            </ul>
        </div>
    </div>
</div>
<!-- //page -->
<!-- checkout page -->
<div class="privacy">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">Checkout
            <span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
        </h3>

        <div class="checkout-right">
            <h4>Order Summary</h4>
            <div class="table-responsive">
                <table class="timetable_sub">
                    <thead>
                    <tr>
                        <th>SL No.</th>
                        <th>Quantity</th>
                        <th>Product Name</th>

                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for x in items %}
                    <tr class="rem1">
                        <td class="invert">1</td>
                        <td class="invert">
                            <div class="quantity">
                                <div class="quantity-select">
                                    <div class="entry value">
                                        <span>{{x.quantity}}</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="invert">{{x.product.product_name}}</td>
                        <td class="invert">${{x.get_total}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <p>Total Price = ${{total_price}}</p>
        <!-- addresses showing  -->
			<br><br><br>
			<div class="row">
				{% for x in address %}
				<div class="col-sm-6 p-5">
				  <div class="card">
					<div class="card-body">

					  <p class="card-text">{{x.address}}<p>
					  <p class="card-text">{{x.state}}<p>
					  <p class="card-text">{{x.city}}<p></p>
					  <p class="card-text">{{x.zipcode}}<p></p>
					  <button href="#" class="btn btn-primary" onclick="addAddress('{{x.address}}','{{x.state}}','{{x.city}}')">Delivery To This Address</button>
					</div>

					<br>
				  </div>
				</div>
				{% endfor %}
			  </div>
        <br><br>
        <h3>Add Another Address</h3>
        <!-- //addresses showing  -->

        <div class="checkout-left">
            <div class="address_form_agile">

                <form method='POST' action="{% url 'user_payment' %}" id="myForm"
                      class="creditly-card-form agileinfo_form">
                    {% csrf_token %}
                    <div class="creditly-wrapper wthree, w3_agileits_wrapper">
                        <div class="information-wrapper">
                            <div class="first-row">

                                <div class="w3_agileits_card_number_grids">
                                    <div class="w3_agileits_card_number_grid_left">
                                        <!-- <div class="controls">
                                            <input id="idi" value="" style="display:none" type="hide" placeholder="Address" name="id" required="">
                                        </div> -->
                                        <div class="controls">
                                            <input id="ida" value="" type="text" placeholder="Address" name="address1"
                                                   required="">
                                        </div>
                                    </div>
                                    <div class="w3_agileits_card_number_grid_right">
                                        <div class="controls">
                                            <input id="ids" type="text" placeholder="State" name="state" required="">
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="controls">
                                    <input id="idc" type="text" placeholder="Town/City" name="city" required="">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="checkout-right-basket">
                        <input type="submit" name="" id="" value="place order">
                        <!-- <button id="form2"  onclick="return confirm('are you sure you wanat to delete')" type="button" >Place Order -->
                        <span class="fa fa-hand-o-right" aria-hidden="true"></span>
                        <!-- <a href="">placeorder</a> -->

                    </div>

                </form>


                <!------------------------Payment mode -------------------->


                <div class="radio">
                    <label>
                        <input type="radio" name="survey" id="Radios1" value="Yes">
                        Cash On Delivery
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="survey" id="Radios2" value="No">
                        PayPal
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="survey" id="Radios2" value="No">
                        RazorPay
                    </label>
                </div>
                <div id="paypal-button-container"></div>

                <!-- razorpay  -->
                <form action="{% url 'checkout' %}" method="POST">
                    {% csrf_token %}
                    <script
                            src="https://checkout.razorpay.com/v1/checkout.js"
                            var total={{total_price}}
                            data-key="rzp_test_U3zNUwvRlxDktr"
                            data-amount="total"
                            data-currency="INR"
                            data-order_id="{{payment.id}}"
                            data-buttontext="Pay with Razorpay"
                            data-name="Acme Corp"
                            data-description="A Wild Sheep Chase is the third novel by Japanese author Haruki Murakami"
                            data-image="https://example.com/your_logo.jpg"
                            data-prefill.name="Ahsan Zakir"
                            data-prefill.email="{{user.email}}"
                            data-theme.color="#F37254"
                    ></script>
                    <input type="hidden" custom="Hidden Element" name="hidden">
                </form>


                <div id="paypal-button-container"></div>

                <!-- Include the PayPal JavaScript SDK -->
                <script src="https://www.paypal.com/sdk/js?client-id=AZ-zxKIWEzxYNP6RHnvei07eMWgRneZlEtCTRKXVnMBYSkZISPFsw0Y8WwftjBOb6n0BLn1x9mvFYN4X&currency=USD"></script>

                <script>
                var total = 970
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: total
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
					console.log(details);
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
            }


        }).render('#paypal-button-container');

                </script>
                <!--------------------//payment mode ----------------------->


            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //checkout page -->

<!-- footer -->
<footer>
    <div class="container">
        <!-- footer third section -->
        <div class="footer-info w3-agileits-info">
            <!-- quick links -->
            <div class="col-sm-5 address-right">
                <div class="col-xs-6 footer-grids">
                    <h3>Quick Links</h3>
                    <ul>
                        <li>
                            <a href="about.html">About Us</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact Us</a>
                        </li>
                        <li>
                            <a href="help.html">Help</a>
                        </li>
                        <li>
                            <a href="faqs.html">Faqs</a>
                        </li>
                        <li>
                            <a href="terms.html">Terms of use</a>
                        </li>
                        <li>
                            <a href="privacy.html">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-6 footer-grids">
                    <h3>Get in Touch</h3>
                    <ul>
                        <li>
                            <i class="fa fa-map-marker"></i> 123 Sebastian, USA.
                        </li>
                        <li>
                            <i class="fa fa-mobile"></i> 333 222 3333
                        </li>
                        <li>
                            <i class="fa fa-phone"></i> +222 11 4444
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>
                            <a href="mailto:example@mail.com"> mail@example.com</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- //quick links -->
            <!-- social icons -->
            <div class="col-sm-2 footer-grids  w3l-socialmk">
                <h3>Follow Us on</h3>
                <div class="social">
                    <ul>
                        <li>
                            <a class="icon fb" href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a class="icon tw" href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a class="icon gp" href="#">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="agileits_app-devices">
                    <h5>Download the App</h5>
                    <a href="#">
                        <img src="{% static 'web/images/1.png' %}" alt="">
                    </a>
                    <a href="#">
                        <img src="{% static 'web/images/2.png' %}" alt="">
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- //social icons -->
            <div class="clearfix"></div>
        </div>
        <!-- //footer third section -->
        <!-- footer fourth section (text) -->
        <div class="agile-sometext">

        </div>
        <!-- //footer fourth section (text) -->
    </div>
</footer>
<!-- //footer -->
<!-- copyright -->
<div class="copy-right">
    <div class="container">
        <p>© Blvck. All rights reserved
        </p>
    </div>
</div>
<!-- //copyright -->

<!-- js-files -->
<!-- jquery -->
<script src="{% static 'web/js/jquery-2.1.4.min.js' %}"></script>
<!-- //jquery -->
<!-- popup modal (for signin & signup)-->
<script src="{% static 'web/js/jquery.magnific-popup.js' %}"></script>
<script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});

		});

</script>
<!-- Large modal -->
<!-- <script>
    $('#').modal('show');
</script> -->
<!-- //popup modal (for signin & signup)-->

<!-- cart-js -->
<script src="{% static 'web/js/minicart.js' %}"></script>
<script>
		paypalm.minicartk.render(); //use only unique class names other than paypal1.minicart1.Also Replace same class name in css and minicart.min.js

		paypalm.minicartk.cart.on('checkout', function (evt) {
			var items = this.items(),
				len = items.length,
				total = 0,
				i;

			// Count the number of each item in the cart
			for (i = 0; i < len; i++) {
				total += items[i].get('quantity');
			}

			if (total < 3) {
				alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
				evt.preventDefault();
			}
		});

</script>
<!--                address from card -->
  <script>
						function addAddress(address,state,city) {
							document.getElementById("ida").value = address
							$('#ida').attr("readOnly", "true");
							document.getElementById("ids").value = state
							$('#ids').attr("readOnly", "true");
							document.getElementById("idc").value = city
							$('#idc').attr("readOnly", "true");

						}

					  </script>
<!--                    //address from card -->
<!--quantity-->
<script>
		$('.value-plus').on('click', function () {
			var divUpd = $(this).parent().find('.value'),
				newVal = parseInt(divUpd.text(), 10) + 1;
			divUpd.text(newVal);
		});

		$('.value-minus').on('click', function () {
			var divUpd = $(this).parent().find('.value'),
				newVal = parseInt(divUpd.text(), 10) - 1;
			if (newVal >= 1) divUpd.text(newVal);
		});

</script>
<!--quantity-->
<script>
		$(document).ready(function (c) {
			$('.close1').on('click', function (c) {
				$('.rem1').fadeOut('slow', function (c) {
					$('.rem1').remove();
				});
			});
		});

</script>
<script>
		$(document).ready(function (c) {
			$('.close2').on('click', function (c) {
				$('.rem2').fadeOut('slow', function (c) {
					$('.rem2').remove();
				});
			});
		});

</script>
<script>
		$(document).ready(function (c) {
			$('.close3').on('click', function (c) {
				$('.rem3').fadeOut('slow', function (c) {
					$('.rem3').remove();
				});
			});
		});

</script>
<!--//quantity-->

<!-- password-script -->
<script>
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}

</script>
<!-- //password-script -->

<!-- smoothscroll -->
<script src="{% static 'web/js/SmoothScroll.min.js' %}"></script>
<!-- //smoothscroll -->

<!-- start-smooth-scrolling -->
<script src="{% static 'web/js/move-top.js' %}"></script>
<script src="{% static 'web/js/easing.js' %}"></script>
<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});

</script>
<!-- //end-smooth-scrolling -->

<!-- smooth-scrolling-of-move-up -->
<script>
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/
			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});

</script>
<!-- //smooth-scrolling-of-move-up -->

<!-- for bootstrap working -->
<script src="{% static 'web/js/bootstrap.js' %}"></script>
<!-- //for bootstrap working -->
<!-- //js-files -->

</body>

</html>