{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
  <title>Blvck Paris</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css">

     <title>Blvck</title>
    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <!--//tags -->
    <link href="{% static 'web/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'web/css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'web/css/font-awesome.css' %}" rel="stylesheet">
    <!--pop-up-box-->
    <link href="{% static 'web/css/popuo-box.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!--//pop-up-box-->
    <!-- price range -->
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/jquery-ui1.css' %}">
    <!-- fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">



</head>

<style>

	body{
		background-color: grey;
		color: white !important;
	}



</style>
<body>

<!-- header-bot-->
<div class="header-bot">
    <div class="header-bot_inner_wthreeinfo_header_mid">
        <!-- header-bot-->
        <div class="col-md-4 logo_agile">
            <h1>
                <a href="index.html">
                    <span>B</span>lvck
<!--                    <img src="images/logo2.png" alt=" ">-->
                </a>
            </h1>
        </div>
        <!-- header-bot -->
        <div class="col-md-8 header">
            <!-- header lists -->
            <ul>
                <li>
                    <span class="fa fa-phone" aria-hidden="true"></span> 8113 8282 33
                </li>
                <li>
                    <a href="{% url 'user_logout' %}">
                        <span class="fa fa-unlock-alt" aria-hidden="true"></span> Log out </a>
                </li>
                <li>
                    <a href="{% url 'user_order' %}">
                        <span class="fa fa-truck" aria-hidden="true"></span> Orders </a>
                </li>
            </ul>
            <!-- //header lists -->
            <!-- search -->
            <div class="agileits_search">
                <form action="#" method="post">
                    <input name="Search" type="search" placeholder="How can we help you today?" required="">
                    <button type="submit" class="btn btn-default" aria-label="Left Align">
                        <span class="fa fa-search" aria-hidden="true"> </span>
                    </button>
                </form>
            </div>
            <!-- //search -->
            <!-- cart details -->
				<div class="top_nav_right">
					<div class="wthreecartaits wthreecartaits2 cart cart box_1">
							<button class="w3view-cart" type="submit" name="submit" value="">
								<a href="{% url 'cart' %}"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a>
							</button>
					</div>
				</div>
				<!-- //cart details -->
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


<!-- //header-bot -->
<!-- navigation -->
<div class="ban-top">
    <div class="container">
        <div class="top_nav_left">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1"
                                aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav menu__list">
                            <li class="active">
                                <a class="nav-stylehead" href="{% url 'home' %}">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- //navigation -->



<!---------------------Profile---------------------------->

<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10" ><h3 style="color:black; text-transform:uppercase;">{{username}}</h3></div>
    </div>
    <div class="row">
    	<div class="col-sm-12">
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                  <form class="form" action="{% url 'edit_userProfile' %}" method="POST" id="registrationForm"  enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group">
                          <div class="col-xs-6">
                              {% for x in profilepic %}
                                <img style="height:20em; width:20em;" src="{{x.ImageURL}}" class="avatar img-circle img-thumbnail" alt="avatar">
                              {% endfor %}
                          </div>
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6" >
                              <label for="first_name"><h4 style="color:#FF5722;">Name</h4></label>
                              <input type="text" class="form-control" name="full_name" id="first_name" value="{{user.first_name}}" >
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-6">
                             <label for="mobile"><h4 style="color:#FF5722;">Mobile</h4></label>
                              <input type="text" class="form-control" name="mobileNo" id="mobile" value="{{user.last_name}}">
                          </div>
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="email"><h4 style="color:#FF5722;">Email</h4></label>
                              <input type="email" class="form-control" name="email" id="email" value="{{user.email}}" >
                          </div>
                      </div>

                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                               <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                            </div>
                      </div>

                        <!-- button for adding img -->
                       &nbsp;&nbsp;&nbsp;
                        <div class="input-group form-group">
                        &nbsp; &nbsp; &nbsp; <button type="button" class="btn btn-primary" id="img-button">Add/Change DP</button>
                        </div>

                        <!-- result of cropped img -->
                        <img id="cropped" class="cropped" src="">

                        <!-- hidden field -->
                        <input class="d-none" style="display: none" type="file" id="file-input">
                        <textarea name="pro_img" class="d-none" style="display: none" id="imageBaseData"></textarea>

              	</form>

          </div><!--/tab-pane-->
          </div><!--/tab-content-->
        </div><!---Col sm -12-->
    </div><!--row-->
</div><!---/container-->
<!------------------------//Profile---------------------------------------->

<!-- footer -->
<footer>
    <div class="container">
        <!-- footer third section -->
        <div class="footer-info w3-agileits-info">
            <!-- quick links -->
            <div class="col-sm-5 address-right">

                <div class="col-xs-6 footer-grids">

                </div>
            </div>
            <!-- //quick links -->
            <!-- social icons -->
            <div class="col-sm-2 footer-grids  w3l-socialmk">
                <div class="social">
                </div>
                <div class="agileits_app-devices">
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- //social icons -->
            <div class="clearfix"></div>
        </div>
        <!-- //footer third section -->
        <!-- footer fourth section (text) -->
        <div class="agile-sometext">
            <!-- payment -->
            <div class="sub-some child-momu">
            </div>
            <!-- //payment -->
        </div>
        <!-- //footer fourth section (text) -->
    </div>
</footer>
<!-- //footer -->
	<!-- copyright -->
	<div class="copy-right">
		<div class="container">
			<p>© 2020 Blvck. All rights reserved
			</p>
		</div>
	</div>
	<!-- //copyright -->


  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Crop Image</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="box-2">
            <div class="result"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" id="load" class="btn save btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>




<!-- js-files -->
<!-- jquery -->
<script src="{% static 'web/js/jquery-2.1.4.min.js' %}"></script>
<!-- //jquery -->
<!---ImageCropping--->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js"></script>
  <script>

    $("#img-button").click(function (e) {
      $("#file-input").click();
    });

    let result = document.querySelector('.result'),
      save = document.querySelector('.save'),
      cropped = document.querySelector('.cropped'),
      upload = document.querySelector('#file-input'),
      cropper = '';

    upload.addEventListener('change', (e) => {
      if (e.target.files.length) {
        // start file reader
        const reader = new FileReader();
        reader.onload = (e) => {
          if (e.target.result) {
            // create new image
            $("#exampleModalCenter").modal("show");
            let img = document.createElement('img');
            img.id = 'image';
            img.src = e.target.result
            // clean result before
            result.innerHTML = '';
            // append new image
            result.appendChild(img);
            // init cropper
            cropper = new Cropper(img);
          }
        };
        reader.readAsDataURL(e.target.files[0]);
      }
    });

    save.addEventListener('click', (e) => {
      e.preventDefault();
      // get result to data uri
      let imgSrc = cropper.getCroppedCanvas({
        width: 300 // img disp value
      }).toDataURL();
      $("#exampleModalCenter").modal("hide");
      cropped.src = imgSrc;
      $('#imageBaseData').val(imgSrc)
    });

  </script>


<!-- easy-responsive-tabs -->
<link rel="stylesheet" type="text/css" href="{% static 'web/css/easy-responsive-tabs.css' %} "/>
<script src="{% static 'web/js/easyResponsiveTabs.js' %}"></script>



<!-- credit-card -->
<script src="{% static 'web/js/creditly.js' %}"></script>
<link rel="stylesheet" href="{% static 'web/css/creditly.css' %}" type="text/css" media="all"/>
<script src="{% static 'web/js/SmoothScroll.min.js' %}"></script>
<script src="{% static 'web/js/move-top.js' %}"></script>
<script src="{% static 'web/js/easing.js' %}"></script>
<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});


</script>
<!-- //end-smooth-scrolling -->

<!-- smooth-scrolling-of-move-up -->
<script>
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/
			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});

</script>

<script src="{% static 'web/js/bootstrap.js' %}"></script>
</body>