{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Payment</title>
    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Grocery Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--//tags -->
    <link href="{% static 'web/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'web/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'web/css/font-awesome.css' %}" rel="stylesheet">
    <!-- price range -->
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/jquery-ui1.css' %}">
    <!-- fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>
<style>
    body {
        background-color: grey;
    }
</style>

<body>
    <!-- header-bot-->
    <div class="header-bot">
        <div class="header-bot_inner_wthreeinfo_header_mid">
            <!-- header-bot-->
            <div class="col-md-4 logo_agile">
                <h1>
                    <a href="/">
                        <span>B</span>lvck
                    </a>
                </h1>
            </div>
            <!-- header-bot -->
            <div class="col-md-8 header">
                <!-- header lists -->
                <ul>
                    <li>
                    <a href="{% url 'home' %}"><span class="fa fa-home" aria-hidden="true"></span>Home</a>
                </li>
                    <li>
                        <span class="fa fa-phone" aria-hidden="true"></span> 8113 8282 33
                    </li>
                    <li>
                        <a href="{% url 'user_logout' %}">
                            <span class="fa fa-unlock-alt" aria-hidden="true"></span>Log out</a>
                    </li>
                    <li>
                        <a href="{% url 'user_profile' %}">
                            <span class="fa fa-pencil-square-o" aria-hidden="true"></span> {{user.username}} </a>
                    </li>
                    <li>
                        <a href="{% url 'user_order' %}">
                            <span class="fa fa-unlock-alt" aria-hidden="true"></span> Orders </a>
                    </li>
                </ul>
                <!-- //header lists -->
                <!-- search -->
                <div class="agileits_search">
                    <form action="#" method="post">
                        <input name="Search" type="search" placeholder="How can we help you today?" required="">
                        <button type="submit" class="btn btn-default" aria-label="Left Align">
                            <span class="fa fa-search" aria-hidden="true"> </span>
                        </button>
                    </form>
                </div>
                <!-- //search -->
                <!-- cart details -->
                <div class="top_nav_right">
                    <div class="wthreecartaits wthreecartaits2 cart cart box_1">
                        <button class="w3view-cart" type="submit" name="submit" value="">
                            <a href="{% url 'cart' %}"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a>
                        </button>
                    </div>
                </div>
                <!-- //cart details -->
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //header-bot -->
    <style>
        #paypal-button-container {
            display: none;
        }
    </style>
    <!-- navigation -->
    <div class="ban-top">
        <div class="container">
            <div class="top_nav_left">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav menu__list">
                                <li class="active">
                                    <a class="nav-stylehead" href="{% url 'home' %}">Home
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- //navigation -->



    <div class="checkout-right">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h4>Order Summary</h4>
        <div class="table-responsive">
            <table class="timetable_sub">
                <thead>
                    <tr>
                        <th>SL No.</th>
                        <th>Quantity</th>
                        <th>Product Name</th>

                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in items %}
                    <tr class="rem1">
                        <td class="invert">1</td>
                        <td class="invert">
                            <div class="quantity">
                                <div class="quantity-select">
                                    <div class="entry value">
                                        <span style="color:black;">{{x.quantity}}</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="invert">{{x.product.product_name}}</td>
                        <td class="invert">${{x.get_total}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <p style="color:black; font-weight:bold;">Total Price = ${{total_price}}</p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



    <!----------------------------Deliver-TO-Previosly-USed-Addresses------------------------------>
    <div class="container">
        <div class=""></div>
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="color:black; font-weight:bold;">{{address.address}}</li>
                <li class="list-group-item" style="color:black; font-weight:bold;">{{address.state}}</li>
                <li class="list-group-item" style="color:black; font-weight:bold;">{{address.city}}</li>
                <input type="text" id="address_id" hidden value="{{address.id}}">

                <a>Delivery Address</a>
            </ul>
        </div>
    </div>
    <!----------------------------//Deliver-TO-Previosly-USed-Addresses------------------------------>


    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p style="color:black">Payment Method :</p>
    <form>

        <div style="display: flex;">
            <input type="radio" id="cod" name="mode" value="COD" required>
            <label for="cod">COD</label><br>
            <input type="radio" id="paypal" name="mode" value="Paypal" required>
            <label for="Paypal">Paypal</label><br>
            <input type="radio" id="razorpay" name="mode" value="Razorpay" required>
            <label for="razorpay">RazorPay</label><br>
        </div>

        <div style="margin-left: 4rem;"><input style="width: 47rem;" id="order" type="button" value="Place Order"
                class="btn button2 "></div>

        <div id="paypal-button-container"></div>


        <input type="hidden" custom='Hidden Element' name="hidden">
    </form>



    <!-- footer -->
    <footer>
        <div class="container">
            <!-- footer third section -->
            <div class="footer-info w3-agileits-info">
                <!-- quick links -->
                <div class="col-sm-5 address-right">
                    <div class="col-xs-6 footer-grids">
                    </div>
                    <div class="col-xs-6 footer-grids">
                    </div>
                </div>
                <!-- //quick links -->
                <!-- social icons -->
                <div class="col-sm-2 footer-grids  w3l-socialmk">
                </div>
                <!-- //social icons -->
                <div class="clearfix"></div>
            </div>
            <!-- //footer third section -->
            <!-- footer fourth section (text) -->
            <div class="agile-sometext">
            </div>
            <!-- //footer fourth section (text) -->
        </div>
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="copy-right">
        <div class="container">
            <p>© Blvck. All rights reserved
            </p>
        </div>
    </div>
    <!-- //copyright -->

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script
        src="https://www.paypal.com/sdk/js?client-id=AZ-zxKIWEzxYNP6RHnvei07eMWgRneZlEtCTRKXVnMBYSkZISPFsw0Y8WwftjBOb6n0BLn1x9mvFYN4X&currency=USD"
        data-namespace="paypal_sdk"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script>
        // Render the PayPal button into #paypal-button-container
        function paypal(tid) {
            paypal_sdk.Buttons({

                // Set up the transaction
                createOrder: function (data, actions) {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: '{{total_price}}'
                            }
                        }]
                    });
                },

                // Finalize the transaction
                onApprove: function (data, actions) {
                    return actions.order.capture().then(function (details) {
                        // Show a success message to the buyer
                        console.log(details);

                        alert('Transaction completed by ' + details.payer.name.given_name + '!');
                        successpaypal(tid)

                    });
                }


            }).render('#paypal-button-container');

        }

        function successpaypal(tid) {
            var userData = {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                tid: tid,
                id: $('#address_id').val()

            }
            $.ajax({
                url: '/success-paypal/',
                type: "POST",
                data: userData,
                dataType: "json",
                success: function (data) {
                    if (data == 'success') {
                        window.location.replace("/")
                    }
                }
            });
        }

        var amount = 0
        $('#order').click(function () {
            let id = $('#address_id').val()
            console.log(id)
            var userData = {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                mode: $("input[name='mode']:checked").val()

            }

            $.ajax({
                url: '/user-payment/' + id,
                type: "POST",
                data: userData,
                dataType: "json",
                success: function (data) {
                    if (data.mode == 'COD'){
                        alert('Order Placed ..!!!')
                        window.location.replace("/")}
                    else if (data.mode == 'Paypal') {
                        console.log(data)
                        $('#order').hide()
                        $('#paypal-button-container').show()
                        paypal(data.tid)
                    }
                    else if (data.mode == 'Razorpay') {
                        console.log(data.mode)
                        tid = data.tid
                        $('#order').hide()
                        // $('.razorpay-payment-button').click()
                        razorpay(tid)
                        amount = data.amount
                    }

                }
            });


        });
        function razorpay(tid) {
            console.log(tid)
            // var tid =tid
            var total = '{{total_price}}'*7000
            var payment_status = 'razorpay'
            var options = {
                "key": "rzp_test_U3zNUwvRlxDktr", // Enter the Key ID generated from the Dashboard
                "amount": total, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "Blvck Paris",
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",
                 //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response) {
                    console.log(tid)
                   success_razorpay(tid)
                },
                "prefill": {
                    "name": "Gaurav Kumar",
                    "email": "gaurav.kumar@example.com",
                    "contact": "9999999999"
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#F37254"
                }
            };
            var rzp1 = new Razorpay(options);
            // document.getElementById('rzp-button1').onclick = function (e) {
            rzp1.open();
            //     e.preventDefault();
            // }
           
        }
        
            function success_razorpay(tid) {
            var userData = {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                tid: tid,
                id: $('#address_id').val()

            }
            $.ajax({
                url: '/success-razorpay/',
                type: "POST",
                data: userData,
                dataType: "json",
                success: function (data) {
                    if (data == 'success') {
                        alert('Payment success.. Order Placed!!!')
                        window.location.replace("/")
                    }
                }
            });
        }

    </script>



    <!-----------//Paypal------------->
    <!-- jquery -->
    <script src="{% static 'web/js/jquery-2.1.4.min.js' %}"></script>
    <!-- //jquery -->
    <!-- for bootstrap working -->
    <script src="{% static 'web/js/bootstrap.js' %}"></script>
    <!-- //for bootstrap working -->
    <!-- //js-files -->
</body>

</html>