{% extends 'base.html' %}

{% block title %} Admin Panel {% endblock %}


{% block content %}
<div class="wrapper">
    <nav id="sidebar" class="active">
        <div class="sidebar-header">
            <img src="" alt="bootraper logo" class="app-logo">
        </div>
        <ul class="list-unstyled components text-secondary">
            <li>
                <a href="{% url 'dashboard' %}"><i class="fas fa-home"></i> Dashboard</a>
            </li>
            <li>
                <a href="{% url 'manage_user' %}"><i class="fas fa-user-friends"></i>Users</a>
            </li>
            <li>
                <a href="{% url 'manage_product' %}"><i class="fas fa-user-friends"></i>Products</a>
            </li>
            <li>
                <a href="{% url 'manage_category' %}"><i class="fas fa-user-friends"></i>Category</a>
            </li>
            <li>
                <a href="{% url 'manage_order' %}"><i class="fas fa-user-friends"></i>Order</a>
            </li>
            <li>
                    <a href="{% url 'order_report' %}" ><i class="fas fa-user-shield"></i>Order Report</a>
            </li>
            <li>
                <a href="settings.html"><i class="fas fa-cog"></i>Settings</a>
            </li>
        </ul>
    </nav>
    <div id="body" class="active">
        <nav class="navbar navbar-expand-lg navbar-white bg-white">
            <button type="button" id="sidebarCollapse" class="btn btn-outline-secondary default-secondary-menu"><i
                    class="fas fa-bars"></i><span></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <div class="nav-dropdown">
                            <a href="" class="nav-item nav-link dropdown-toggle text-secondary"
                               data-toggle="dropdown"><i class="fas fa-user"></i> <span>Admin</span> <i
                                    style="font-size: .8em;" class="fas fa-caret-down"></i></a>
                            <div class="dropdown-menu dropdown-menu-right nav-link-menu">
                                <ul class="nav-list">

                                    <div class="dropdown-divider"></div>
                                    <li><a href="{% url 'admin_logout' %}" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="icon-big text-center">
                                            <i class="teal fas fa-shopping-cart"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="detail text-center">
                                            <p>New Orders</p>
                                            <span class="number">{{no_order}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr/>
                                    <div class="stats">
                                        <i class="fas fa-redo-alt"></i> Updated every 30 minutes
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    <div class="col-sm-6 col-md-6 col-lg-3 mt-3">-->
<!--                        <div class="card">-->
<!--                            <div class="content">-->
<!--                                <div class="row">-->
<!--                                    <div class="col-sm-4">-->
<!--                                        <div class="icon-big text-center">-->
<!--                                            <i class="olive fas fa-money-bill-alt"></i>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="col-sm-8">-->
<!--                                        <div class="detail text-center">-->
<!--                                            <p>Revenue</p>-->
<!--                                            <span class="number">$180,900.00</span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="footer">-->
<!--                                    <hr/>-->
<!--                                    <div class="stats">-->
<!--                                        <i class="fas fa-calendar"></i> In this current Month-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="icon-big text-center">
                                            <i class="violet fas fa-user-alt"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="detail text-center">
                                            <p>Total Users</p>
                                            <span class="number">{{no_users}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr/>
                                    <div class="stats">
                                        <i class="fas fa-stopwatch"></i> In the last 24 Hour
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    <div class="col-sm-6 col-md-6 col-lg-3 mt-3">-->
<!--                        <div class="card">-->
<!--                            <div class="content">-->
<!--                                <div class="row">-->
<!--                                    <div class="col-sm-4">-->
<!--                                        <div class="icon-big text-center">-->
<!--                                            <i class="orange fas fa-envelope"></i>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="col-sm-8">-->
<!--                                        <div class="detail text-center">-->
<!--                                            <p>Support Request</p>-->
<!--                                            <span class="number">75</span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="footer">-->
<!--                                    <hr/>-->
<!--                                    <div class="stats">-->
<!--                                        <i class="fas fa-envelope-open-text"></i> Active in the last 7 days-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="icon-big text-center">
                                            <i class="orange fas fa-truck-moving"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="detail text-center">
                                            <p>Total Products</p>
                                            <span class="number">{{no_product}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr/>
                                    <div class="stats">
                                        <i class="fas fa-envelope-open-text"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



<!------------------------------------------Graphs-------------------------------------------------------------->



                <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="content">
                                    <div class="head">
                                        <h4 class="mb-0">Traffic Overview</h4>
                                        <p class="text-muted">Your year long website traffic data</p>
                                    </div>
                                    <div class="canvas-wrapper">
                                        <canvas class="chart" id="trafficflow"></canvas>
                                    </div>
                                    <div class="ui hidden divider"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="content">
                                    <div class="head">
                                        <h4 class="mb-0">Sales Overview</h4>
                                        <p class="text-muted">Your year long sales data</p>
                                    </div>
                                    <div class="canvas-wrapper">
                                        <canvas class="chart" id="sales"></canvas>
                                    </div>
                                    <div class="ui hidden divider"></div>
                                </div>
                            </div>
                        </div>
                    </div>




<!----------------------------------//Graph------------------------------------------------------------------>





<!------------------------------------------------Other-Feature------------------------------------------------->


<!--                <div class="row">-->
<!--                    <div class="col-sm-6 col-md-6 col-lg-3">-->
<!--                        <div class="card">-->
<!--                            <div class="content">-->
<!--                                <div class="row">-->
<!--                                    <div class="dfd text-center">-->
<!--                                        <i class="blue large-icon mb-2 fas fa-thumbs-up"></i>-->
<!--                                        <h4 class="mb-0">+21,900</h4>-->
<!--                                        <p class="text-muted">FACEBOOK PAGE LIKES</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-sm-6 col-md-6 col-lg-3">-->
<!--                        <div class="card">-->
<!--                            <div class="content">-->
<!--                                <div class="row">-->
<!--                                    <div class="dfd text-center">-->
<!--                                        <i class="orange large-icon mb-2 fas fa-reply-all"></i>-->
<!--                                        <h4 class="mb-0">+22,566</h4>-->
<!--                                        <p class="text-muted">INSTAGRAM FOLLOWERS</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-sm-6 col-md-6 col-lg-3">-->
<!--                        <div class="card">-->
<!--                            <div class="content">-->
<!--                                <div class="row">-->
<!--                                    <div class="dfd text-center">-->
<!--                                        <i class="grey large-icon mb-2 fas fa-envelope"></i>-->
<!--                                        <h4 class="mb-0">+15,566</h4>-->
<!--                                        <p class="text-muted">E-MAIL SUBSCRIBERS</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-sm-6 col-md-6 col-lg-3">-->
<!--                        <div class="card">-->
<!--                            <div class="content">-->
<!--                                <div class="row">-->
<!--                                    <div class="dfd text-center">-->
<!--                                        <i class="olive large-icon mb-2 fas fa-dollar-sign"></i>-->
<!--                                        <h4 class="mb-0">+98,601</h4>-->
<!--                                        <p class="text-muted">TOTAL SALES</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!------------------------------------------------Other-Feature------------------------------------------------->

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

<script>


var trafficchart = document.getElementById("trafficflow");
var saleschart = document.getElementById("sales");

var x = {{x}}

var myChart1 = new Chart(trafficchart, {
    type: 'line',
    data: {
            labels: ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
            datasets: [{
                backgroundColor: "rgba(48, 164, 255, 0.5)",
                borderColor: "rgba(48, 164, 255, 0.8)",
                data: [x, x, x,'1168', '1150', '1145','1155', '1155', '1150','1160', '1185', '1190'],
                label: '',
                fill: true
            }]
    },
    options: {
        responsive: true,
        title: {display: false,text: 'Chart'},
        legend: {position: 'top',display: false,},
        tooltips: {mode: 'index',intersect: false,},
        hover: {mode: 'nearest',intersect: true},
        scales: {
            xAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Months'
                }
            }],
            yAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Number of Visitors'
                }
            }]
        }
    }
});

var myChart2 = new Chart(saleschart, {
    type: 'bar',
    data: {
        labels: ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
        datasets: [{
            label: 'Income',
            backgroundColor: "rgba(76, 175, 80, 0.5)",
            borderColor: "#6da252",
            borderWidth: 1,
            data: ["280","300","400","600","450","400","500","550","450","650","950","1000"],
        }]
    },
    options: {
        responsive: true,
        title: {display: false,text: 'Chart'},
        legend: {position: 'top',display: false,},
        tooltips: {mode: 'index',intersect: false,},
        hover: {mode: 'nearest',intersect: true},
        scales: {
            xAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Months'
                }
            }],
            yAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Number of Sales'
                }
            }]
        }
    }
});

</script>

{% endblock content %}
